<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first ">
        <img src="assets/accountImageSmall.png" class="avatar"  id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form [formGroup]="loginForm" style="padding:15px">
        <div class="form-group">
            <input type="text" id="login" formControlName="email" class="fadeIn second " name="login" placeholder="Email">
        </div>
        <div class="form-group">
           <input type="password" id="password" formControlName="password"  class="fadeIn third" name="login" placeholder="password">
        </div>
        <button type="button" (click)="login()" [disabled]="!loginForm.valid" class="fadeIn fourth btn btn-primary ">Login </button>
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a role="button" class="underlineHover" href="#" >Forgot Password?</a>
      </div>
  
    </div>
</div>